{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="main-body">
			<div class="row">
				<div class="col-md-8 col-12 justify-content-center d-block m-auto">
					<div class="text-center">
						<h1 class="display-1">{{ status_code }}</h1>
						<p>{{ exception.message }}</p>
					</div>
					<div class="mt-5 text-center">
						<img src=" {{ asset('images/knight_skeletons.png') }}" alt="Clash Royale logo" style="height:50vh;" class="center">
					</div>
					<div class="mt-5 text-center">
						<a href="/" class="btn btn-primary active" role="button" aria-pressed="true">Back to home</a>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>{% endblock %}
